<!DOCTYPE html>
<html lang="fr-FR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="profile" href="http://gmpg.org/xfn/11">
<link rel="pingback" href="https://www.olivierlutz.com/xmlrpc.php">

<title>Olivier Lutz &#8211; Kinésithérapeute Musculo-Squelettique &amp; Educateur Physique</title>
<link rel='dns-prefetch' href='//use.fontawesome.com' />
<link rel='dns-prefetch' href='//maxcdn.bootstrapcdn.com' />
<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//s.w.org' />
<link rel="alternate" type="application/rss+xml" title="Olivier Lutz &raquo; Flux" href="https://www.olivierlutz.com/feed/" />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/www.olivierlutz.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.16"}};
			!function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55358,56760,9792,65039],[55358,56760,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='stylesheet' id='font-awesome-5-css'  href='https://use.fontawesome.com/releases/v5.0.13/css/all.css?ver=2.1.2.2' type='text/css' media='all' />
<link rel='stylesheet' id='font-awesome-css'  href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css?ver=2.1.2.2' type='text/css' media='all' />
<link rel='stylesheet' id='fl-builder-layout-52-css'  href='https://www.olivierlutz.com/wp-content/uploads/sites/16/bb-plugin/cache/52-layout.css?ver=b3ea5de42513fdced1054c682959ec87' type='text/css' media='all' />
<link rel='stylesheet' id='juno-style-css'  href='https://www.olivierlutz.com/wp-content/themes/juno-alternaweb/style.css?ver=4.9.16' type='text/css' media='all' />
<link rel='stylesheet' id='google-font-primary-css'  href='//fonts.googleapis.com/css?family=Ubuntu&#038;ver=1.1.1.1.5' type='text/css' media='all' />
<link rel='stylesheet' id='google-font-body-css'  href='//fonts.googleapis.com/css?family=Ubuntu&#038;ver=1.1.1.1.5' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrap-css'  href='https://www.olivierlutz.com/wp-content/themes/juno-alternaweb/inc/css/bootstrap.min.css?ver=1.1.1.1.5' type='text/css' media='all' />
<link rel='stylesheet' id='animate-css'  href='https://www.olivierlutz.com/wp-content/themes/juno-alternaweb/inc/css/animate.min.css?ver=1.1.1.1.5' type='text/css' media='all' />
<link rel='stylesheet' id='slicknav-css'  href='https://www.olivierlutz.com/wp-content/themes/juno-alternaweb/inc/css/slicknav.min.css?ver=1.1.1.1.5' type='text/css' media='all' />
<link rel='stylesheet' id='camera-css'  href='https://www.olivierlutz.com/wp-content/themes/juno-alternaweb/inc/css/camera.css?ver=1.1.1.1.5' type='text/css' media='all' />
<link rel='stylesheet' id='juno-main-style-css'  href='https://www.olivierlutz.com/wp-content/themes/juno-alternaweb/inc/css/style.css?ver=1.1.1.1.5' type='text/css' media='all' />
<link rel='stylesheet' id='wp-featherlight-css'  href='https://www.olivierlutz.com/wp-content/plugins/wp-featherlight/css/wp-featherlight.min.css?ver=1.1.0' type='text/css' media='all' />
<link rel='stylesheet' id='sccss_style-css'  href='https://www.olivierlutz.com/?sccss=1&#038;ver=4.9.16' type='text/css' media='all' />
<script type='text/javascript' src='https://www.olivierlutz.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
<script type='text/javascript' src='https://www.olivierlutz.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<link rel='https://api.w.org/' href='https://www.olivierlutz.com/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.olivierlutz.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://www.olivierlutz.com/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 4.9.16" />
<link rel="canonical" href="https://www.olivierlutz.com/" />
<link rel='shortlink' href='https://www.olivierlutz.com/' />
<link rel="alternate" type="application/json+oembed" href="https://www.olivierlutz.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.olivierlutz.com%2F" />
<link rel="alternate" type="text/xml+oembed" href="https://www.olivierlutz.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.olivierlutz.com%2F&#038;format=xml" />
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-118213366-1', 'auto');
			ga('send', 'pageview');
		</script>
	
    <style type="text/css">
        
		/* Bug et mobile menu: added by TFS on 10/08/2020 to correct it */
		ul.slicknav_nav>li>a{
			padding-left: 0;
			margin-left:0
		}     
		
        /* ---------- FONT SIZES ---------- */
        
        body {
            font-size: 12px; 
        }
                
        #site-branding a {
            font-size: 33px; 
        }
        
        ul#primary-menu > li > a,
        .slicknav_nav a {
            font-size: 16px; 
        }
        
        header#masthead img.custom-logo { 
            max-height: 300px;
        }
        
        /* ---------- FONT FAMILIES ---------- */
        
        h1,h2,h3,h4,h5,h6,
        a.accent-button,
        #site-branding a,
        ul#primary-menu > li.menu-item,
        .slicknav_nav a,
        .camera_caption a,
        #subscribe-module input[type="submit"],
        #single-page-container nav.navigation.post-navigation a,
        #single-post-container nav.navigation.post-navigation a,
        #comments p.logged-in-as, #comments p.logged-in-as a,
        #comments p.comment-form-comment label,
        #comments input[type="submit"],
        input.search-submit,
        .error-404 input.search-submit,
        #comments .comment-body .reply,
        span.edit-link a {
            font-family: Ubuntu, sans-serif;
        }
        
        body {
            font-family: Ubuntu, sans-serif;
        }
        
        /* ---------- THEME COLORS ---------- */
        
                
        /* --- JUMBOTRON TINT --- */
        #jumbotron-section .camera_overlayer {
            background-color: rgba(0,0,0,0.2);
        }
        
        /* --- DARK COLOR --- */
        header#masthead,
        .camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span,
        footer#colophon #footer-sidebar-wrapper,
        footer #footer-widget-area .widget_categories ul li a,
        #subscribe-module .widget_calendar table th {
            background-color: #1f2933;
        }
        ul.slicknav_nav ul.sub-menu li a,
        ul#primary-menu > li.menu-item > ul.sub-menu > li a,
        ul#primary-menu > li.menu-item.current-menu-item > a,
        #about-section #about-primary,
        .juno-blog-content .blog-roll-item .inner h3.post-title a,
        #single-page-container nav.navigation.post-navigation a,
        #single-post-container nav.navigation.post-navigation a,
        #comments p.logged-in-as, #comments p.logged-in-as a,
        footer .widget_calendar table td,
        #subscribe-module .widget_calendar table caption,
        #subscribe-module .widget_calendar table td {
            color: #1f2933;
        }
        .widgettitle,
        .widget-title,
        #front-page-blog div#frontpage-page .entry-title,
        .front-page-widget h6.feature-title,
        .sidebar-container h6.feature-title {
            border-bottom: #333;
        }
        
        footer .widget_calendar table th,
        footer .widget_calendar table td {
            border-color: #1f2933;
        }
        
        /* --- PRIMARY COLOR --- */
        div#site-navigation,
        .camera_wrap .camera_pag .camera_pag_ul li:hover > span,
        div#subscribe-module,
        #blog-title-box,
        #comments input[type="submit"],
        div#social-module,
        div.social-bubble,
        .pagination-links .page-numbers.current,
        #subscribe-module .widget_categories ul li a,
        .widget_calendar table th,
        div#single-title-box.no-header-img,
        .widget_juno-recent-articles-widget .related-article-title,
        nav.posts-navigation .nav-links a,
        #comments .comment-body .reply {
            background-color: #0081c1;
        }
        ul#primary-menu > li.menu-item > ul.sub-menu > li a:hover,
        .juno-blog-content .blog-roll-item .post-category a,
        div.social-bubble:hover i,
        div#footer-widget-area a,
        .widget_calendar table a,
        .widget_calendar caption,
        footer .widget_calendar caption,
        .widget a:hover {
            color: #0081c1;
        }
        footer#colophon #footer-sidebar-wrapper {
            border-top: 15px solid #0081c1;
        }
        div#single-title-box {
            background-color: rgba(0,129,193,0.75);
        }
        #subscribe-module .widget_calendar table th,
        #subscribe-module .widget_calendar table td {
            border-color: #0081c1;
        }
        
        /* --- ACCENT COLOR --- */
        a.accent-button,
        #subscribe-module input[type="submit"],
        input.search-submit,
        .error-404 input.search-submit {
            background-color: #60d60c;
        }
        input.search-field,
        .error-404 input.search-field,
        .error-404 input.search-submit {
            border: thin solid #60d60c;
        }
        input.search-submit {
            border: thin solid #60d60c !important;
        }
        hr.accent-divider {
            border-color: #60d60c;
        }
    
        /* --- JUMBOTRON TITLE --- */
        #jumbotron-section .camera_caption a {
            font-size: 36px;
            color: #ffffff; 
        }

        /* --- JUMBOTRON CONTENT --- */
        #jumbotron-section .camera_caption p.slide-content {
            font-size: 18px;
        }
 
        /* --- BLOG ROLL HOVER TAB COLOR --- */
        .juno-blog-content .blog-roll-item .inner .image-corner {
            border-color: transparent transparent #ffc859 transparent;
        }
        .juno-blog-content .blog-roll-item .inner i.icon {
            color: #ffffff;
        }

        /* --- BLOG ROLL MASONRY COLUMNS --- */
        .grid-sizer,
        .blog-roll-item { 
            width: 32%; 
        }
        
        /* --- BLOG ROLL TYPOGRAPHY  --- */
        .juno-blog-content .blog-roll-item .inner h3.post-title { 
            font-size: 16px;
        }
        .blog-roll-item .post-content { 
            font-size: 14px;
        }
        .juno-blog-content .blog-roll-item .post-category a,
        .blog-roll-item h5.post-meta { 
            font-size: 12px;
        }
        
        /* --- SINGLE POST TYPOGRAPHY  --- */
        div#single-title-box .entry-title { 
            font-size: 24px;
        }
        #single-post-container .entry-content,
        #single-page-container .entry-content { 
            font-size: 14px;
        }
        div#single-title-box .post-meta { 
            font-size: 10px;
        }
        
        
        
        
    </style>
    
        
    <script type="text/javascript">
    
        jQuery(document).ready( function( $ ) {
            
			 /*
			 ADDED BY TFS ON 10/08/2020
             * SlickNav Mobile Menu
             */
            $( function() { 

                $( '#primary-menu' ).slicknav({
                    prependTo:'nav.main-nav > div',
                    duration: 500,
                    openedSymbol: "&#45;",	
                    closedSymbol: "&#43;",
                    allowParentLinks: true                }); 

            });
			/* END OF ADDED */
			
            /*
            * Handle Blog Roll Masonry
            */
            function doMasonry() {

                var $grid = $( "#masonry-blog-wrapper" ).imagesLoaded(function () {
                    $grid.masonry({
                        itemSelector: '.blog-roll-item',
                        columnWidth: '.grid-sizer',
                        percentPosition: true,
                        gutter: '.gutter-sizer',
                        transitionDuration: '.75s'
                    });
                });

                
                    if ( $( window ).width() >= 992 ) {  

                        $('.juno-blog-content .gutter-sizer').css('width', '2%');
                        $('.juno-blog-content .grid-sizer').css('width', '32%');
                        $('.juno-blog-content .blog-roll-item').css('width', '32%');

                    } else if ( $( window ).width() < 992 && $( window ).width() >= 768 ) {

                        $('.juno-blog-content .gutter-sizer').css('width', '2%');
                        $('.juno-blog-content .grid-sizer').css('width', '48%');
                        $('.juno-blog-content .blog-roll-item').css('width', '48%');

                    } else {

                        $('.juno-blog-content .gutter-sizer').css('width', '0%');
                        $('.juno-blog-content .grid-sizer').css('width', '100%');
                        $('.juno-blog-content .blog-roll-item').css('width', '100%');

                    }
                    
                
            }

            /**
            * Call Masonry on window resize and load
            */
            $( window ).resize( function() {
                doMasonry();
            });
            doMasonry();
            
                        
                /**
                * Blog Roll Tab Hover Effect
                */
                $( '.blog-roll-item article').mouseenter( function() {

                    $( this ).find( '.inner .image-corner' ).stop().animate({
                        borderWidth: "0 0 60px 60px"
                    }, 200 );

                    $( this ).find( '.inner .icon' ).stop().animate({
                        fontSize: "14px",
                        opacity: "1" 
                    }, 400 );

                }).mouseleave( function() {

                    $( this ).find( '.inner .icon' ).stop().animate({
                        fontSize: "0px",
                        opacity: "0"
                    }, 200 );

                    $( this ).find( '.inner .image-corner' ).stop().animate({
                        borderWidth: "0 0 0 0"
                    }, 400 );

                });
                
                        
                        
            /*
            * Initialize the homepage slider module (only if the element exists on the page)
            */
            if ( $( "#camera_slider" ).length ) {
                
                var viewport_height = $(window).height(),
                    header_height = $( 'header#masthead' ).height(),
                    jumbotron_height = null;
                
                if ( $(window).width() > 767 ) {
                    jumbotron_height = viewport_height - header_height + 'px';
                } else {
                    jumbotron_height = 400 + 'px';
                }
                
                $('#jumbotron-section').animate({
                    height: jumbotron_height
                });
                
                $( "#camera_slider" ).camera({ 
                    height: jumbotron_height,
                    hover: true,
                    transPeriod: 1000,
                    time: 40000,
                    fx: 'simpleFade',
                    pagination: true,
                    playPause: false,
                    loader: 'none',
                    navigation: false,
                    autoAdvance: true,
                    mobileAutoAdvance: true,
                });

            }
            
        });
    
    </script>
    
</head>

<body class="home page-template-default page page-id-52 fl-builder wp-featherlight-captions">
<div id="page" class="site">
    
    <a class="skip-link screen-reader-text" href="#main">Aller au contenu</a>

    <header id="masthead" class="site-header" role="banner">
           
        <div class="container-fluid">
            
            <div class="row">
           
                <div id="site-branding" class="col-sm-12">
				
                    
                        <a href="https://www.olivierlutz.com">
                            Olivier Lutz                        </a>
                    
                                                    <h5 class="site-description">
                                Kinésithérapeute Musculo-Squelettique &amp; Educateur Physique                            </h5>
                        						
                    
                    <div id="slicknav-menu-toggle">

                        <i class="fa fa-bars"></i>

                    </div>
                    
                </div>
                
                <div id="site-navigation" class="col-sm-12">
                   
                    <nav class="main-nav main-navigation">

                        
                            <div class="menu-menu-principal-container"><ul id="primary-menu" class="menu"><li id="menu-item-13" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-13"><a href="https://www.olivierlutz.com">Accueil</a></li>
<li id="menu-item-482" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-482"><a href="https://www.olivierlutz.com/services/">Services</a></li>
<li id="menu-item-615" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-615"><a href="https://www.olivierlutz.com/fisco-serenity/">📲 Fisco Serenity</a></li>
<li id="menu-item-477" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-477"><a href="https://www.olivierlutz.com/patients/">Patients</a></li>
<li id="menu-item-80" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-80"><a href="https://www.olivierlutz.com/contact/">Me trouver</a></li>
</ul></div>
                        
                    </nav>
               
                </div>
                
            </div>
            
        </div>
        
    </header><!-- #masthead -->

    <div id="content" class="site-content">
	
	
<div id="primary" class="content-area">
    
    <main id="main" class="site-main" role="main">
       
        
                    
                        
                        
                    
                    
                 
		<div>&nbsp;</div>		 
        <div id="front-page-content" class="container reallyfullwidth_homepage">

            <div class="row">

                <div id="front-page-blog" class="col-sm-12">

								
					
					<div class="fl-builder-content fl-builder-content-52 fl-builder-content-primary fl-builder-global-templates-locked" data-post-id="52"><div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5bdde3b7630a5" data-node="5bdde3b7630a5">
	<div class="fl-row-content-wrap">
				<div class="fl-row-content fl-row-fixed-width fl-node-content">
		
<div class="fl-col-group fl-node-5bdde3b762ac1" data-node="5bdde3b762ac1">
			<div class="fl-col fl-node-5bdde3b762bd9 fl-col-has-cols" data-node="5bdde3b762bd9">
	<div class="fl-col-content fl-node-content">
	
<div class="fl-col-group fl-node-5bdde3b762c81 fl-col-group-nested" data-node="5bdde3b762c81">
			<div class="fl-col fl-node-5bdde3b762cb9 fl-col-small" data-node="5bdde3b762cb9">
	<div class="fl-col-content fl-node-content">
	<div class="fl-module fl-module-icon fl-node-5bdde3b762d60" data-node="5bdde3b762d60">
	<div class="fl-module-content fl-node-content">
		<div class="fl-icon-wrap">
	<span class="fl-icon">
				<i class="fas fa-desktop"></i>
			</span>

		<div id="fl-icon-text-5bdde3b762d60" class="fl-icon-text">
				<h4>Rendez-vous <strong>en ligne</strong></h4>			</div>
	</div>
	</div>
</div>
<div class="fl-module fl-module-button fl-node-5bdde3b762e08" data-node="5bdde3b762e08">
	<div class="fl-module-content fl-node-content">
		<div class="fl-button-wrap fl-button-width-full fl-button-left">
			<a href="http://www.q-top.be/Online-planner/FR/?root=kq36501" target="_self" class="fl-button" role="button">
							<span class="fl-button-text">RENDEZ-VOUS EN LIGNE</span>
					</a>
</div>
	</div>
</div>
	</div>
</div>
			<div class="fl-col fl-node-5bdde3b762cf0 fl-col-small" data-node="5bdde3b762cf0">
	<div class="fl-col-content fl-node-content">
	<div class="fl-module fl-module-icon fl-node-5bdde3b762e40" data-node="5bdde3b762e40">
	<div class="fl-module-content fl-node-content">
		<div class="fl-icon-wrap">
	<span class="fl-icon">
				<i class="fa fa-phone"></i>
			</span>

		<div id="fl-icon-text-5bdde3b762e40" class="fl-icon-text">
				<h4>Rendez-vous par <strong>téléphone</strong></h4>			</div>
	</div>
	</div>
</div>
<div class="fl-module fl-module-rich-text fl-node-5bdde3b762d98" data-node="5bdde3b762d98">
	<div class="fl-module-content fl-node-content">
		<div class="fl-rich-text">
	<p>Vous pouvez me joindre au <b>+32 477 51 94 02</b></p>
</div>
	</div>
</div>
	</div>
</div>
	</div>
	</div>
</div>
	</div>
		</div>
	</div>
</div>
<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5b2f7ca08c475" data-node="5b2f7ca08c475">
	<div class="fl-row-content-wrap">
				<div class="fl-row-content fl-row-fixed-width fl-node-content">
		
<div class="fl-col-group fl-node-5b2f7ca09033d" data-node="5b2f7ca09033d">
			<div class="fl-col fl-node-5b2f7ca0903d4" data-node="5b2f7ca0903d4">
	<div class="fl-col-content fl-node-content">
	<div class="fl-module fl-module-photo fl-node-5b2f7ca08c3cf" data-node="5b2f7ca08c3cf">
	<div class="fl-module-content fl-node-content">
		<div class="fl-photo fl-photo-align-center" itemscope itemtype="https://schema.org/ImageObject">
	<div class="fl-photo-content fl-photo-img-png">
				<img class="fl-photo-img wp-image-459 size-full" src="https://www.olivierlutz.com/wp-content/uploads/sites/16/2018/04/oli2-e1534354884532.png" alt="oli2" itemprop="image" height="705" width="1920" title="oli2"  />
					</div>
	</div>
	</div>
</div>
	</div>
</div>
	</div>
		</div>
	</div>
</div>
<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5b747764b3f31" data-node="5b747764b3f31">
	<div class="fl-row-content-wrap">
				<div class="fl-row-content fl-row-fixed-width fl-node-content">
		
<div class="fl-col-group fl-node-5b7538b3a7008" data-node="5b7538b3a7008">
			<div class="fl-col fl-node-5b7538b3a70e8" data-node="5b7538b3a70e8">
	<div class="fl-col-content fl-node-content">
	<div class="fl-module fl-module-heading fl-node-5b7466cdde79d" data-node="5b7466cdde79d">
	<div class="fl-module-content fl-node-content">
		<h3 class="fl-heading">
		<span class="fl-heading-text">Qui suis-je ?</span>
	</h3>
	</div>
</div>
<div class="fl-module fl-module-separator fl-node-5bdde434d0292" data-node="5bdde434d0292">
	<div class="fl-module-content fl-node-content">
		<div class="fl-separator"></div>
	</div>
</div>
	</div>
</div>
	</div>

<div class="fl-col-group fl-node-5b747764e30c3" data-node="5b747764e30c3">
			<div class="fl-col fl-node-5b747769a9217 fl-col-small" data-node="5b747769a9217">
	<div class="fl-col-content fl-node-content">
	<div class="fl-module fl-module-photo fl-node-5b747753a0e47" data-node="5b747753a0e47">
	<div class="fl-module-content fl-node-content">
		<div class="fl-photo fl-photo-crop-square fl-photo-align-center" itemscope itemtype="https://schema.org/ImageObject">
	<div class="fl-photo-content fl-photo-img-jpg">
				<img class="fl-photo-img wp-image-443 size-full" src="https://www.olivierlutz.com/wp-content/uploads/sites/16/bb-plugin/cache/IMG_5341-e1524659341876-square.jpg" alt="IMG_5341" itemprop="image" height="577" width="1024" title="IMG_5341"  />
					</div>
	</div>
	</div>
</div>
	</div>
</div>
			<div class="fl-col fl-node-5b747764e3164" data-node="5b747764e3164">
	<div class="fl-col-content fl-node-content">
	<div class="fl-module fl-module-rich-text fl-node-5b74763490f95" data-node="5b74763490f95">
	<div class="fl-module-content fl-node-content">
		<div class="fl-rich-text">
	<h4></h4>
<h4 style="caret-color: #ffffff; color: #ffffff; text-align: center;"><span style="color: #000000;">Kinésithérapeute spécialisé en <strong>thérapie manuelle</strong> </span></h4>
<h4 style="caret-color: #ffffff; color: #ffffff; text-align: center;"><span style="color: #000000;">dans les troubles neuro-musculo-squelettiques </span></h4>
<h4 style="caret-color: #ffffff; color: #ffffff; text-align: center;"><span style="color: #000000;">et le traitement du <strong>sportif</strong>. </span></h4>
<h4 style="caret-color: #ffffff; color: #ffffff; text-align: center;"><strong><span style="text-decoration: underline; color: #0081c1;"><a style="color: #0081c1;" href="contact/">Trouvez plus d'informations ici</a></span></strong></h4>
<h4></h4>
<h4 style="caret-color: #ffffff; color: #ffffff; text-align: center;"><span style="color: #000000;">Egalement éducateur physique </span></h4>
<h4 style="caret-color: #ffffff; color: #ffffff; text-align: center;"><span style="color: #000000;">enseignant le plaisir du mouvement </span></h4>
<h4 style="caret-color: #ffffff; color: #ffffff; text-align: center;"><span style="color: #000000;">chez <strong><span style="text-decoration: underline;"><span style="color: #0081c1;"><a style="color: #0081c1; text-decoration: underline;" href="http://www.actisport.be/">ActiSport</a></span></span></strong></span></h4>
</div>
	</div>
</div>
	</div>
</div>
	</div>

<div class="fl-col-group fl-node-5bdde4fce22a8" data-node="5bdde4fce22a8">
			<div class="fl-col fl-node-5bdde4fce239e" data-node="5bdde4fce239e">
	<div class="fl-col-content fl-node-content">
	<div class="fl-module fl-module-heading fl-node-5bdde484df620" data-node="5bdde484df620">
	<div class="fl-module-content fl-node-content">
		<h3 class="fl-heading">
		<span class="fl-heading-text">Kinésithérapie manuelle musculo-squelettique ?</span>
	</h3>
	</div>
</div>
		<div class="fl-separator"></div>
	</div>
</div>
	</div>

<div class="fl-col-group fl-node-5bdde430a3fd4" data-node="5bdde430a3fd4">
			<div class="fl-col fl-node-5bdde4e9dc718 fl-col-small" data-node="5bdde4e9dc718">
	<div class="fl-col-content fl-node-content">
	<div class="fl-module fl-module-photo fl-node-5bdde4e4ade14" data-node="5bdde4e4ade14">
	<div class="fl-module-content fl-node-content">
		<div class="fl-photo fl-photo-align-center" itemscope itemtype="https://schema.org/ImageObject">
	<div class="fl-photo-content fl-photo-img-jpg">
				<img class="fl-photo-img wp-image-593 size-full" src="https://www.olivierlutz.com/wp-content/uploads/sites/16/2018/11/5236525-7813988.jpg" alt="5236525-7813988" itemprop="image" height="387" width="464" title="5236525-7813988" srcset="https://www.olivierlutz.com/wp-content/uploads/sites/16/2018/11/5236525-7813988.jpg 464w, https://www.olivierlutz.com/wp-content/uploads/sites/16/2018/11/5236525-7813988-300x250.jpg 300w" sizes="(max-width: 464px) 100vw, 464px" />
					</div>
	</div>
	</div>
</div>
	</div>
</div>
			<div class="fl-col fl-node-5bdde430a40da" data-node="5bdde430a40da">
	<div class="fl-col-content fl-node-content">
	<div class="fl-module fl-module-rich-text fl-node-5bdde44bd835e" data-node="5bdde44bd835e">
	<div class="fl-module-content fl-node-content">
		<div class="fl-rich-text">
	<div>
<div class="lead__summary-content">
<p><b>Une garantie pour la liberté de mouvement.</b> <b></b></p>
<div>
<div>Une perturbation du mouvement peut considérablement réduire votre qualité de vie. Les causes de la douleur et de la restriction de mouvement peuvent être détectées et traitées grâce à un thérapeute manuel musculo-squelettique. Ce dernier vous aide à retrouver votre liberté de mouvement, ainsi qu’à diminuer et contrôler votre douleur.</div>
<div></div>
<div><b>Ensemble</b>, travaillons à une solution durable pour vos plaintes !</div>
<div></div>
<div>Soulagez vos articulations et vos muscles et gérez les douleurs persistantes.</div>
<div></div>
<div>Le thérapeute manuel cherche la cause et vous offre un traitement personnalisé.</div>
<div></div>
<div>
<p>La thérapie manuelle vous aide à :</p>
<ul>
<li>VOUS RÉTABLIR RAPIDEMENT à l’aide, de techniques manuelles, d'exercices et d'éducation face à vos symptômes</li>
<li>VOUS RÉTABLIR DURABLEMENT, car nous examinons la cause des plaintes</li>
<li>RESTER EN BONNE SANTÉ grâce à l’éducation et une condition physique optimale</li>
</ul>
<div></div>
</div>
</div>
<div><a href="http://www.mathera.be/fr/content/pour-des-patients" rel="nofollow">Plus d'informations</a></div>
<div></div>
<div><a href="http://www.ifompt.org/" rel="nofollow">La fédération international de thérapie manuelle musculo-squelettique</a></div>
</div>
</div>
<h4 style="caret-color: #ffffff; color: #ffffff; text-align: center;"></h4>
</div>
	</div>
</div>
	</div>
</div>
	</div>
		</div>
	</div>
</div>
<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5b7538bc456f0" data-node="5b7538bc456f0">
	<div class="fl-row-content-wrap">
				<div class="fl-row-content fl-row-fixed-width fl-node-content">
		
<div class="fl-col-group fl-node-5b7538bc4e094" data-node="5b7538bc4e094">
			<div class="fl-col fl-node-5b7538bc4e172" data-node="5b7538bc4e172">
	<div class="fl-col-content fl-node-content">
	<div class="fl-module fl-module-heading fl-node-5b74669b0d494" data-node="5b74669b0d494">
	<div class="fl-module-content fl-node-content">
		<h3 class="fl-heading">
		<span class="fl-heading-text">ARTICLES - L'essentiel en quelques mots</span>
	</h3>
	</div>
</div>
<div class="fl-module fl-module-separator fl-node-5b7466d004685" data-node="5b7466d004685">
	<div class="fl-module-content fl-node-content">
		<div class="fl-separator"></div>
	</div>
</div>
	</div>
</div>
	</div>
		</div>
	</div>
</div>
<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5b75361821ccd" data-node="5b75361821ccd">
	<div class="fl-row-content-wrap">
				<div class="fl-row-content fl-row-fixed-width fl-node-content">
		
<div class="fl-col-group fl-node-5b753618264f3" data-node="5b753618264f3">
			<div class="fl-col fl-node-5b753933cf5a6 fl-col-small" data-node="5b753933cf5a6">
	<div class="fl-col-content fl-node-content">
	<div class="fl-module fl-module-photo fl-node-5b75383b139e9" data-node="5b75383b139e9">
	<div class="fl-module-content fl-node-content">
		<div class="fl-photo fl-photo-crop-square fl-photo-align-center" itemscope itemtype="https://schema.org/ImageObject">
	<div class="fl-photo-content fl-photo-img-jpg">
				<img class="fl-photo-img wp-image-553 size-full" src="https://www.olivierlutz.com/wp-content/uploads/sites/16/bb-plugin/cache/Apprentissage-square.jpg" alt="Apprentissage" itemprop="image" height="329" width="445" title="Apprentissage"  />
					</div>
	</div>
	</div>
</div>
	</div>
</div>
			<div class="fl-col fl-node-5b75361826594" data-node="5b75361826594">
	<div class="fl-col-content fl-node-content">
	<div class="fl-module fl-module-post-grid fl-node-5b75361821ba8" data-node="5b75361821ba8">
	<div class="fl-module-content fl-node-content">
		<div class="fl-post-feed" itemscope="itemscope" itemtype="https://schema.org/Blog">
	<div class="fl-post-feed-post fl-post-align-default post-563 post type-post status-publish format-standard hentry category-non-classe" itemscope itemtype="https://schema.org/BlogPosting">

	<meta itemscope itemprop="mainEntityOfPage" itemtype="https://schema.org/WebPage" itemid="https://www.olivierlutz.com/dissonance-cognitive/" content="Dissonance Cognitive" /><meta itemprop="datePublished" content="2018-09-12" /><meta itemprop="dateModified" content="2018-09-12" /><div itemprop="publisher" itemscope itemtype="https://schema.org/Organization"><meta itemprop="name" content="Olivier Lutz"></div><div itemscope itemprop="author" itemtype="https://schema.org/Person"><meta itemprop="url" content="https://www.olivierlutz.com/author/olivierlutz/" /><meta itemprop="name" content="olivierlutz" /></div><div itemprop="interactionStatistic" itemscope itemtype="https://schema.org/InteractionCounter"><meta itemprop="interactionType" content="https://schema.org/CommentAction" /><meta itemprop="userInteractionCount" content="0" /></div>	
		<div class="fl-post-feed-text">
	
		<div class="fl-post-feed-header">

			<h2 class="fl-post-feed-title" itemprop="headline">
				<a href="https://www.olivierlutz.com/dissonance-cognitive/" rel="bookmark" title="Dissonance Cognitive">Dissonance Cognitive</a>
			</h2>

			
			
			
			
		</div>

	
	
	
		
				<div class="fl-post-feed-content" itemprop="text">
			<p>La loi du moinde effort: Nous avons tendance à vouloir confirmer ce que l&rsquo;on a [&hellip;]</p>
					</div>
		
		
	</div>

	<div class="fl-clear"></div>
</div>
<div class="fl-post-feed-post fl-post-align-default post-541 post type-post status-publish format-standard hentry category-non-classe" itemscope itemtype="https://schema.org/BlogPosting">

	<meta itemscope itemprop="mainEntityOfPage" itemtype="https://schema.org/WebPage" itemid="https://www.olivierlutz.com/prise-de-decision-partagee/" content="Prise de décision partagée" /><meta itemprop="datePublished" content="2018-08-15" /><meta itemprop="dateModified" content="2018-09-12" /><div itemprop="publisher" itemscope itemtype="https://schema.org/Organization"><meta itemprop="name" content="Olivier Lutz"></div><div itemscope itemprop="author" itemtype="https://schema.org/Person"><meta itemprop="url" content="https://www.olivierlutz.com/author/olivierlutz/" /><meta itemprop="name" content="olivierlutz" /></div><div itemprop="interactionStatistic" itemscope itemtype="https://schema.org/InteractionCounter"><meta itemprop="interactionType" content="https://schema.org/CommentAction" /><meta itemprop="userInteractionCount" content="0" /></div>	
		<div class="fl-post-feed-text">
	
		<div class="fl-post-feed-header">

			<h2 class="fl-post-feed-title" itemprop="headline">
				<a href="https://www.olivierlutz.com/prise-de-decision-partagee/" rel="bookmark" title="Prise de décision partagée">Prise de décision partagée</a>
			</h2>

			
			
			
			
		</div>

	
	
	
		
				<div class="fl-post-feed-content" itemprop="text">
			<p>Donnons-nous les moyens de créer une expérience thérapeutique optimale. Nous le savons à présent, l&rsquo;alliance [&hellip;]</p>
					</div>
		
		
	</div>

	<div class="fl-clear"></div>
</div>
<div class="fl-post-feed-post fl-post-align-default post-511 post type-post status-publish format-standard hentry category-non-classe" itemscope itemtype="https://schema.org/BlogPosting">

	<meta itemscope itemprop="mainEntityOfPage" itemtype="https://schema.org/WebPage" itemid="https://www.olivierlutz.com/quantification-du-stress-mecanique/" content="Quantification du Stress mécanique ?!" /><meta itemprop="datePublished" content="2018-07-08" /><meta itemprop="dateModified" content="2018-08-15" /><div itemprop="publisher" itemscope itemtype="https://schema.org/Organization"><meta itemprop="name" content="Olivier Lutz"></div><div itemscope itemprop="author" itemtype="https://schema.org/Person"><meta itemprop="url" content="https://www.olivierlutz.com/author/olivierlutz/" /><meta itemprop="name" content="olivierlutz" /></div><div itemprop="interactionStatistic" itemscope itemtype="https://schema.org/InteractionCounter"><meta itemprop="interactionType" content="https://schema.org/CommentAction" /><meta itemprop="userInteractionCount" content="0" /></div>	
		<div class="fl-post-feed-text">
	
		<div class="fl-post-feed-header">

			<h2 class="fl-post-feed-title" itemprop="headline">
				<a href="https://www.olivierlutz.com/quantification-du-stress-mecanique/" rel="bookmark" title="Quantification du Stress mécanique ?!">Quantification du Stress mécanique ?!</a>
			</h2>

			
			
			
			
		</div>

	
	
	
		
				<div class="fl-post-feed-content" itemprop="text">
			<p>Bouger intelligemment: ni trop, ni trop peu Identifiez vos marqueurs de stress et limitez vous [&hellip;]</p>
					</div>
		
		
	</div>

	<div class="fl-clear"></div>
</div>
	</div>
<div class="fl-clear"></div>
<div class="fl-builder-pagination" style="display:none;">
	<ul class='page-numbers'>
	<li><span aria-current='page' class='page-numbers current'>1</span></li>
	<li><a class='page-numbers' href='https://www.olivierlutz.com/page/2/'>2</a></li>
	<li><a class="next page-numbers" href="https://www.olivierlutz.com/page/2/">Suivant »</a></li>
</ul>
</div>
<div class="fl-builder-pagination-load-more">
	<div class="fl-button-wrap fl-button-width-auto fl-button-center">
			<a href="#" target="_self" class="fl-button" role="button">
							<span class="fl-button-text">Afficher plus</span>
					</a>
</div>
</div>
	</div>
</div>
	</div>
</div>
	</div>
		</div>
	</div>
</div>
<div class="fl-row fl-row-fixed-width fl-row-bg-none fl-node-5b2f766cf100b" data-node="5b2f766cf100b">
	<div class="fl-row-content-wrap">
				<div class="fl-row-content fl-row-fixed-width fl-node-content">
		
<div class="fl-col-group fl-node-5b2f766cf3ab0" data-node="5b2f766cf3ab0">
			<div class="fl-col fl-node-5b2f766cf3b48 fl-col-small" data-node="5b2f766cf3b48">
	<div class="fl-col-content fl-node-content">
	<div class="fl-module fl-module-heading fl-node-5b7467504b294" data-node="5b7467504b294">
	<div class="fl-module-content fl-node-content">
		<h3 class="fl-heading">
		<span class="fl-heading-text">Suivez-moi sur Facebook</span>
	</h3>
	</div>
</div>
<div class="fl-module fl-module-separator fl-node-5b7465ef61db7" data-node="5b7465ef61db7">
	<div class="fl-module-content fl-node-content">
		<div class="fl-separator"></div>
	</div>
</div>
<div class="fl-module fl-module-widget fl-node-5b2f766cf0f87" data-node="5b2f766cf0f87">
	<div class="fl-module-content fl-node-content">
		<div class="fl-widget">
<div class="widget widget_fbw_id"><center><div class="loader"><img src="https://www.olivierlutz.com/wp-content/plugins/facebook-pagelike-widget/loader.gif" /></div></center><div id="fb-root"></div>
        <div class="fb-page" data-href="https://www.facebook.com/pg/Olivier-Lutz-Kinésithérapeute-TMO-174583989812287/posts/?ref=page_internal" data-width="800" data-height="350" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true" style=""></div></div>        <!-- A WordPress plugin developed by Milap Patel -->
    </div>
	</div>
</div>
	</div>
</div>
			<div class="fl-col fl-node-5b2f7c18b8817 fl-col-small" data-node="5b2f7c18b8817">
	<div class="fl-col-content fl-node-content">
	<div class="fl-module fl-module-heading fl-node-5b753752dcb7f" data-node="5b753752dcb7f">
	<div class="fl-module-content fl-node-content">
		<h3 class="fl-heading">
		<span class="fl-heading-text">Des nouvelles d'Actisport</span>
	</h3>
	</div>
</div>
<div class="fl-module fl-module-separator fl-node-5b75375ab17e3" data-node="5b75375ab17e3">
	<div class="fl-module-content fl-node-content">
		<div class="fl-separator"></div>
	</div>
</div>
<div class="fl-module fl-module-widget fl-node-5b2f7c18b88c3" data-node="5b2f7c18b88c3">
	<div class="fl-module-content fl-node-content">
		<div class="fl-widget">
<div class="widget widget_fbw_id"><center><div class="loader"><img src="https://www.olivierlutz.com/wp-content/plugins/facebook-pagelike-widget/loader.gif" /></div></center><div id="fb-root"></div>
        <div class="fb-page" data-href="https://www.facebook.com/pg/actisport/posts/?ref=page_internal" data-width="800" data-height="350" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true" style=""></div></div>        <!-- A WordPress plugin developed by Milap Patel -->
    </div>
	</div>
</div>
	</div>
</div>
	</div>

<div class="fl-col-group fl-node-5d1909847068a" data-node="5d1909847068a">
			<div class="fl-col fl-node-5d1909847076a" data-node="5d1909847076a">
	<div class="fl-col-content fl-node-content">
	<div class="fl-module fl-module-rich-text fl-node-5d190468c59b8" data-node="5d190468c59b8">
	<div class="fl-module-content fl-node-content">
		<div class="fl-rich-text">
	<p style="text-align: center;"><span style="color: #545454; font-family: arial, sans-serif; font-size: small;"><span style="font-size: 6px;">Olivier Lutz - Entreprise Personne Physique / </span><span style="font-size: 6px;">k.olivierlutz@gmail.com / 0477519402 / </span><span style="font-size: 6px;">Adresse unité d'établissement: Centre médical de LLN, Grand-Rue 25 à 1348 Louvain-La-Neuve / </span><span style="font-size: 6px;">Kinésithérapeute diplômé de l'UCLouvain en Belgique / </span><span style="font-size: 6px;">Siège social: Rue Sainte-Gertrude, 32 à 1490 Court-Saint-Etienne / </span><span style="font-size: 6px;">Affilié à Axxon (Association de défense professionnelle de la kinésithérapie www..axxon.be) et Mathera (ABCIG en Thérapie Manuelle www.mathera.be) / </span><span style="font-size: 6px;">RC Professionnelle: AMMA Assurance (Avenue des Arts 39/1, 1040 Bruxelles) / </span><span style="font-size: 6px;">Déconventionné / Sujet à l'autorité de surveillance: Commission Médicale Provinciale - Place Victor Horta, 40 boite 10 à 1060 Bruxelles / N° INAMI 5-44746-06-527 / N° d'entreprise (BCE) BE0679595658</span></span></p>
</div>
	</div>
</div>
	</div>
</div>
	</div>
		</div>
	</div>
</div>
</div>					
				
                </div>

            </div>

        </div>
            
    </main><!-- #main -->
    
</div><!-- #primary -->


    </div><!-- #content -->

    <footer id="colophon" class="site-footer" role="contentinfo">
        
            
    <div id="footer-sidebar-wrapper" class="container-fluid">

        <div class="row">

            <div class="col-md-12">

                <div class="container">
                    
                    <div class="row">

                                                    <div class="col-md-12">

                                <div id="footer-widget-area">

                                    
<aside id="secondary" class="widget-area" role="complementary">
    <div class="row">
        <div class="col-sm-4"><section id="text-7" class="widget widget_text"><h4 class="widget-title">A propos et Confidentialité</h4>			<div class="textwidget"><p>Olivier Lutz est kinésithérapeute spécialisé en thérapie manuelle dans les troubles musculo-squelettiques.</p>
<p>Il est également éducateur physique, enseignant le plaisir du mouvement chez <a href="http://www.ActiSport.be">ActiSport</a></p>
<p>&nbsp;</p>
<p><a href="https://drive.google.com/open?id=1EgIKRlEAP045BE9EDZRFU6cxau64Wa9Xgf00Q-p-Pm0">Retrouver notre politique de confidentialité ici</a></p>
</div>
		</section></div><div class="col-sm-4"><section id="text-8" class="widget widget_text"><h4 class="widget-title">Adresse et contact</h4>			<div class="textwidget"><p><img class="alignnone size-medium wp-image-580" src="https://www.olivierlutz.com/wp-content/uploads/sites/16/2018/09/accueil-site_modifié-2-1200x300-300x75.jpg" alt="" width="300" height="75" /></p>
<p><strong><span style="text-decoration: underline"><a href="https://kineaxe.be/olivier-2/">KinéAxe.be</a></span></strong></p>
<p>Rue du Pisselet 15</p>
<p>1390 <strong>Grez-Doiceau</strong></p>
<p>&nbsp;</p>
<p>+32 (0)477 51 94 02</p>
<p>k.olivierlutz@gmail.com</p>
</div>
		</section></div><div class="col-sm-4"><section id="media_image-8" class="widget widget_media_image"><a href="http://www.actisport.be"><img width="3508" height="2480" src="https://www.olivierlutz.com/wp-content/uploads/sites/16/2018/07/LOGO-ActiSport-be-Bleu-2.png" class="image wp-image-523  attachment-full size-full" alt="" style="max-width: 100%; height: auto;" srcset="https://www.olivierlutz.com/wp-content/uploads/sites/16/2018/07/LOGO-ActiSport-be-Bleu-2.png 3508w, https://www.olivierlutz.com/wp-content/uploads/sites/16/2018/07/LOGO-ActiSport-be-Bleu-2-300x212.png 300w, https://www.olivierlutz.com/wp-content/uploads/sites/16/2018/07/LOGO-ActiSport-be-Bleu-2-768x543.png 768w, https://www.olivierlutz.com/wp-content/uploads/sites/16/2018/07/LOGO-ActiSport-be-Bleu-2-1024x724.png 1024w" sizes="(max-width: 3508px) 100vw, 3508px" /></a></section></div>    </div>
</aside><!-- #secondary -->

                                </div>

                            </div>
                                               
                    </div>
                    
                </div>
                
            </div>
    
        </div>
            
    </div>
    
    <div id="footer-branding-wrapper" class="container-fluid">

        <div class="row">

            <div class="col-md-12">

                <div class="container">
                    
                    <div class="row">
                        
                        <div class="col-md-12">
                            
                            <div id="footer-branding">
								<span class="site-info">
									Copyright &copy;2020									<a href="https://www.olivierlutz.com/" title="Olivier Lutz" >Olivier Lutz</a>								</span>
								|
								Site neutre en CO2 créé avec <a href="https://www.alternaweb.org/?utm_source=footer_member&utm_medium=linkfooter&utm_campaign=footer_member" target="_blank" title="AlternaWeb">AlternaWeb</a>
                            </div>

                        </div>

                        <div class="col-md-12">
                            
                            <div id="footer-jumper">
                    
                                <span class="fa fa-caret-up"></span>

                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
    
        </div>
            
    </div>
    
        
    </footer><!-- #colophon -->
</div><!-- #page -->

<script type="text/javascript">

if(typeof jQuery == 'undefined' || typeof jQuery.fn.on == 'undefined') {
	document.write('<script src="https://www.olivierlutz.com/wp-includes/js/jquery/jquery.js"><\/script>');
	document.write('<script src="https://www.olivierlutz.com/wp-includes/js/jquery/jquery-migrate.min.js"><\/script>');
}

</script>
<script type='text/javascript' src='https://www.olivierlutz.com/wp-content/plugins/bb-plugin/js/jquery.infinitescroll.min.js?ver=2.1.2.2'></script>
<script type='text/javascript' src='https://www.olivierlutz.com/wp-content/uploads/sites/16/bb-plugin/cache/52-layout.js?ver=b3ea5de42513fdced1054c682959ec87'></script>
<script type='text/javascript' src='https://www.olivierlutz.com/wp-content/plugins/bb-plugin/js/jquery.easing.min.js?ver=1.4'></script>
<script type='text/javascript' src='https://www.olivierlutz.com/wp-content/themes/juno-alternaweb/inc/js/jquery.mobile.custom.min.js?ver=1.1.1.1.5'></script>
<script type='text/javascript' src='https://www.olivierlutz.com/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='https://www.olivierlutz.com/wp-content/themes/juno-alternaweb/inc/js/camera.min.js?ver=1.1.1.1.5'></script>
<script type='text/javascript' src='https://www.olivierlutz.com/wp-content/themes/juno-alternaweb/inc/js/jquery.slicknav.min.js?ver=1.1.1.1.5'></script>
<script type='text/javascript' src='https://www.olivierlutz.com/wp-includes/js/imagesloaded.min.js?ver=3.2.0'></script>
<script type='text/javascript' src='https://www.olivierlutz.com/wp-includes/js/masonry.min.js?ver=3.3.2'></script>
<script type='text/javascript' src='https://www.olivierlutz.com/wp-includes/js/jquery/jquery.masonry.min.js?ver=3.1.2b'></script>
<script type='text/javascript' src='https://www.olivierlutz.com/wp-content/themes/juno-alternaweb/inc/js/custom.js?ver=1.1.1.1.5'></script>
<script type='text/javascript' src='https://www.olivierlutz.com/wp-content/plugins/wp-featherlight/js/wpFeatherlight.pkgd.min.js?ver=1.1.0'></script>
<script type='text/javascript' src='https://www.olivierlutz.com/wp-includes/js/wp-embed.min.js?ver=4.9.16'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var milapfbwidgetvars = {"app_id":"1590918427791514","select_lng":"fr_FR"};
var milapfbwidgetvars = {"app_id":"1590918427791514","select_lng":"fr_FR"};
/* ]]> */
</script>
<script type='text/javascript' src='https://www.olivierlutz.com/wp-content/plugins/facebook-pagelike-widget-alternaweb/fb.js?ver=4.9.16'></script>

</body>
</html>
      

<p id="notice"><%= notice %></p>

<h1>Stories</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= link_to 'Show', story %></td>
        <td><%= link_to 'Edit', edit_story_path(story) %></td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Story', new_story_path %>
